<div class="hero">
  <span>
    Unparalleled skill in making the perfect s'more. I also make websites.
  </span>
</div>
<div class="container">
  <div class="row center">
    <div class="column animated fade-in-left">
      <p>
        Bullfrog Websites is a web design and development company in Meadville,
        PA. I craft responsive websites and web applications from the finest,
        home grown, all‑natural ingredients. I also answer my phone, respond to
        emails, and get the job done.
      </p>
    </div>
    <div class="column center first-on-mobile animated fade-in-right">
      <%= image_tag 'location.svg', class: 'column-image' %>
    </div>
  </div>
  <div class="row center">
    <div class="column center animated fade-in-left">
      <%= image_tag 'search.svg', class: 'column-image' %>
    </div>
    <div class="column animated fade-in-right">
      <p>
        The first thing people tend to do when they have a need is search the
        internet. Does your business appear in those search results? Does your
        website look more modern and appealing than King Tut's mummified
        corpse? Does it actually work on a smart phone without requiring
        zooming, panning, and nanometer precision tapping? If you answered "no"
        to any of those questions, you best give me a call. (814) 573-7139
      </p>
    </div>
  </div>
</div>
<div class="attention-background"><div class="container">
  <h1>1-up the competition. Make sure your website is:</h1>
</div></div>
<div class="container">
  <div class="row">
    <div class="column">
      <%= image_tag 'responsive.svg', class: 'icon' %>
      <h2 class="center">Responsive</h2>
      <p>
        Over half of internet users are on mobile devices. That's like at least
        ten people. It's crucial for your website to function just as well on
        mobile devices as it does on desktops.
      </p>
    </div>
    <div class="column">
      <%= image_tag 'maintainable.svg', class: 'icon' %>
      <h2 class="center">Maintainable</h2>
      <p>
        Look, I'd love to do everything for you, but not everyone enjoys
        sending me their money every time they want to make a small change to
        their website. Don't worry. You'll be able to manage the content
        yourself through a CMS with an easy-to-use interface.
      </p>
    </div>
    <div class="column">
      <%= image_tag 'appealing.svg', class: 'icon' %>
      <h2 class="center">Appealing</h2>
      <p>
        Tip: you can keep your customers from leaving your website by not
        making their eyes bleed.
      </p>
    </div>
  </div>
</div>
<div class="attention-background"><div class="container">
  <h1>Launch your web application</h1>
</div></div>
<div class="container">
  <div class="row center">
    <div class="column animated fade-in-left">
      <p>
        If you need a website with dynamic, interactive features such as an
        online web store, you're in luck. Not only do I have a genius eye for
        design, but I also possess remarkable programming skills and extreme
        humility.
      </p>
    </div>
    <div class="column center first-on-mobile animated fade-in-up">
      <%= image_tag 'rocket.svg', class: 'column-image' %>
    </div>
  </div>
</div>
<div class="dark-background"><div class="container center">
  <h1>Interested?</h1>
  <a href="#" class="button-link attention">Get a quote</a>
  <h1>Still not sure?</h1>
  <a href="#" class="button-link">View my past work</a>
</div></div>
