<header 
  <% if @header_transparent %>
    id="bg-on-expand" 
    class="top"
  <% else %>
    class="attention-background"
  <% end %>
>
  <div class="navbar container unpadded">
    <%= link_to root_path do %>
      <%= image_tag 'logo.svg', class: 'logo', alt: 'Logo' %>
    <% end %>
    <%= link_to 'Bullfrog Websites', root_path, class: "brand" %>
    <a
      id="navbar-button"
      href="#"
      class="navbar-menu-button turn-to-x"
      data-collapsed="true"
    >
      <span></span>
    </a>
    <ul id="navbar-collapse">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Work', work_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </div>
</header>
