<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <link 
      href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900" 
      rel="stylesheet"
    >
    <%= stylesheet_link_tag(
      'application',
      media: 'all',
      'data-turbolinks-track': 'reload'
    ) %>
    <%= javascript_include_tag(
      'application',
      'data-turbolinks-track': 'reload'
    ) %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="content">
      <% unless flash.empty? %>
        <div class="container">
          <%= show_flashes %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= yield :footer %>
  </body>
</html>
